# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Maven
target/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# H2 local DB files (если база локальная)
data/
*.mv.db
*.trace.db

# OS
.DS_Store
Thumbs.db